#webcraft-tour-popover {
    position: absolute;
    z-index: 99999;
    display: block;
    opacity: 0;
}
#webcraft-tour-popover .btn {
    margin-top: 10px;
    margin-bottom: 14px;
}
#webcraft-tour-steps-counter {
    position: absolute;
    right: 11px;
    top: 9px;
}
